<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urgent Care Clinic FAQ</title>
</head>

<body>
    <h1>Frequently Asked Questions</h1>
    <h2>General Information</h2>
    <dl id='info'></dl>

    <script>
        fetch('https://urgentcareclinic.onrender.com/api/botsettings/')
            .then(response => {
                return response.json()
            })
            .then(data => {
                console.log(data)
                data.forEach(info => {
                    document.getElementById('info').insertAdjacentHTML('beforeend', `<dt>${info.informationName}</dt>`)
                    document.getElementById('info').insertAdjacentHTML('beforeend', `<dd>${info.description}</dd>`)
                })
            })
            .catch(error => console.log(error))
    </script>
</body>

</html>